div.main
  ul.user-list
    li.user-list__item
      div.thumbnail
        img(src="" width="72" height="72" alt="")
      div.user-info
        div.name Name
        div.headline Headline

    li.user-list__item
      div.thumbnail
        img(src="" width="72" height="72" alt="")
      div.user-info
        div.name Name
        div.headline Headline

    li.user-list__item
      div.thumbnail
        img(src="" width="72" height="72" alt="")
      div.user-info
        div.name Name
        div.headline Headline

    li.user-list__item
      div.thumbnail
        img(src="" width="72" height="72" alt="")
      div.user-info
        div.name Name
        div.headline Headline

    li.user-list__item
      div.thumbnail
        img(src="" width="72" height="72" alt="")
      div.user-info
        div.name Name
        div.headline Headline
